<header>
    <div class="collapse bg-primary" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Flask</a>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                    {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('profile') }}" class="text-white">Profile</a></li>
                        <li><a href="{{ url_for('log_out') }}" class="text-white">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" class="text-white">Login</a></li>
                        <li><a href="{{ url_for('register') }}" class="text-white">Register</a></li>
                        <li><a href="{{ url_for('') }}" class="text-white">Contact</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="{{ url_for('static', filename='images/flask.png') }}" width="30" height="30">
                <strong>Flask</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex margin-right">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
<main>
